canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.controls {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

button, select {
    height: 25px;
}

select option {
    background: rgb(137, 137, 137);
}